.contenedor {
  position: relative;
  height: 100vh;
  min-height: 720px;
}
.contVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -21px;

  z-index: -1;
  object-fit: cover;
}

.contVideo video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 105vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.subcontenedor {
  position: absolute;
  /*   background-color: rgb(59, 59, 10); */
  width: 70%;
  height: 40%;
  margin-top: 20%;
  margin-left: 15%;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
}
.titulo {
  position: relative;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  display: flex;
  text-transform: uppercase;
  font-family: "Kinsans";
}
.slogan {
  color: #fff;
  letter-spacing: 5px;
  font-size: 12px;
  text-transform: uppercase;
  width: 40%;
  font-family: monospace;
}
.boton button {
  user-select: none;
  position: absolute;
  background-color: transparent;
  width: 150px;
  margin-top: 70px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 35px;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
}
.boton span {
  font-size: 15px;
}
.boton button:hover {
  transform: scale(1.1);
}
.dinamico {
  display: flex;
  margin: 0;
  height: 100px;
  color: var(--naranjita);
  text-transform: uppercase;
  font-size: 120px;
  line-height: 120px;
  font-family: "Kinsans";
  overflow: hidden;
  margin-top: -40px;
}
.dinamico ul {
  list-style: none;
  padding-left: 10px;
  animation: transicion 7s infinite;
}
.dinamico ul,
p {
  margin: 0;
}
@keyframes transicion {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -120px;
  }
  50% {
    margin-top: -120px;
  }
  55% {
    margin-top: -240px;
  }
  80% {
    margin-top: -240px;
  }
  85% {
    margin-top: -120px;
  }
  95% {
    margin-top: -120px;
  }
  100% {
    margin-top: 0px;
  }
}

.lenguajes ul li {
  background-color: #2e518b;
}

.lenguajes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lenguajes ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lenguajes ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.lenguajes ul li:hover {
  background: #5b78a7;
}

.lenguajes ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.lenguajes ul ul li {
  float: none;
  width: 150px;
}

.lenguajes ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

.lenguajes ul li:hover > ul {
  display: block;
}
.idiomas {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 0;
  height: 5vh;
  margin-right: 10px;
  margin-top: 10px;
}
@media screen and (max-height: 655px) {
  .subcontenedor {
    margin-top: 15%;
  }
}
@media screen and (max-width: 1000px) {
  .contenedor {
    min-height: 667px;
    max-height: 875px;
    max-width: 1000px;
  }
  .contVideo {
    min-height: 667px;
    max-height: 875px;
    max-width: 1000px;
  }
  .dinamico {
    display: flex;
    margin: 0;
    height: 80px;
    color: var(--naranjita);
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
    font-family: "Kinsans";
    overflow: hidden;
    margin-top: -40px;
    margin-left: -10px;
  }
  @keyframes transicion {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -80px;
    }
    50% {
      margin-top: -80px;
    }
    55% {
      margin-top: -160px;
    }
    80% {
      margin-top: -160px;
    }
    85% {
      margin-top: -80px;
    }
    95% {
      margin-top: -80px;
    }
    100% {
      margin-top: 0px;
    }
  }
  .titulo {
    /*  margin-left: -40px; */
    font-size: 30px;
  }
}
@media screen and (max-width: 810px) {
  .contenedor {
    min-height: 850px;
    max-height: 935px;
    max-width: 815px;
  }
  .idiomas {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .contenedor {
    min-height: 667px;
    max-height: 875px;
    max-width: 414px;
  }
  .contVideo {
    min-height: 667px;
    max-height: 875px;
    max-width: 414px;
  }
  .dinamico {
    display: flex;
    margin: 0;
    height: 100px;
    color: var(--naranjita);
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    font-family: "Kinsans";
    overflow: hidden;
    margin-top: -20px;
    margin-left: -50px;
  }
  .dinamico ul {
    list-style: none;

    animation: transicion 7s infinite;
  }
  .dinamico ul,
  p {
    margin: 0;
  }
  @keyframes transicion {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -60px;
    }
    50% {
      margin-top: -60px;
    }
    55% {
      margin-top: -120px;
    }
    80% {
      margin-top: -120px;
    }
    85% {
      margin-top: -60px;
    }
    95% {
      margin-top: -60px;
    }
    100% {
      margin-top: 0px;
    }
  }
  .titulo {
    margin-left: -40px;
  }
  .slogan {
    color: #fff;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100%;
    margin-left: -40px;
    margin-top: 60px;
  }
  .boton button {
    margin-top: 180px;
    margin-left: -40px;
  }
  .idiomas {
    display: none;
  }
}
@media screen and (max-width: 385px) {
  .slogan {
    color: #fff;
    letter-spacing: 4px;
    font-size: 10px;
    width: 350px;
    margin-left: -40px;
    margin-top: 60px;
  }
  .titulo {
    margin: 0;
    margin-left: -40px;
    font-size: 35px;
    height: 130px;
  }
  .dinamico {
    /* overflow: visible; */
    position: absolute;
    margin-top: 275px;
    font-size: 40px;
    line-height: 50px;
    height: 40px;
  }
  .idiomas {
    display: none;
  }

  @keyframes transicion {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -50px;
    }
    50% {
      margin-top: -50px;
    }
    55% {
      margin-top: -100px;
    }
    80% {
      margin-top: -100px;
    }
    85% {
      margin-top: -50px;
    }
    95% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0px;
    }
  }
  .boton button {
    margin-top: 200px;
    margin-left: -40px;
  }
  .idiomas {
    display: none;
  }
}
