.section {
  background: rgb(189, 184, 184);
  background: linear-gradient(
    0deg,
    rgba(196, 190, 190, 0.776) 0%,
    rgba(255, 255, 255, 1) 81%
  );
}
.espacio {
  height: 10vh;
  background-color: rgb(17, 16, 16);
}
.container {
  height: 90vh;
}
.titulo {
  text-transform: uppercase;
  font-family: "Kinsans";
  font-size: 35px;
  font-weight: bold;
  color: #898d8b;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.titulo h1 {
  display: flex;
  justify-content: center;
  width: 100px;
  border-bottom: solid 7px var(--naranjita);
}
.columnas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5%;
}
.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;

  user-select: none;
}
.formInput input {
  border-image: none;
  border-color: transparent;
  border-bottom: 2px solid var(--naranjita);
  outline: none;
  width: 350px;
  background-color: transparent;
}

.nombres {
  /*   background-color: wheat; */
  display: flex;
  justify-content: space-between;
}
.contacto {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.formGroup {
  margin-bottom: 30px;
  position: relative;
  user-select: none;
}
.formGroup input,
textarea {
  font-size: 17px;
  background-color: transparent;
}
.formGroup input:focus {
  border-bottom: 2px solid var(--blue);
}
.formGroup textarea:focus {
  border: 2px solid var(--blue);
}
.formGroup textarea {
  user-select: none;
  resize: vertical;
  width: 800px;
  min-height: 15vh;
  max-height: 30vh;
  border: 2px solid var(--naranjita);
}

.formGroup label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  cursor: text;
  transition: 0.2s;
  user-select: none;
  margin-left: 15px;
  font-size: monospace;
}
.formGroup input:focus ~ label,
.formGroup input:valid ~ label,
.formGroup textarea:focus ~ label,
.formGroup textarea:valid ~ label {
  top: -20px;
  font-size: 12px;
}
.boton {
  display: flex;
  justify-content: flex-end;
}
.boton button {
  background-color: transparent;
  width: 150px;
  margin-top: 20px;
  background-color: var(--naranjita);
  border: 2px solid transparent;
  color: #fff;
  border-radius: 35px;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
}
.boton span {
  font-size: 15px;
}
.boton button:hover {
  transform: scale(1.1);
  /*  width: 200px; */
}
