.section {
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 7%,
    rgba(235, 229, 229, 1) 100%
  );
}

.espacio {
  height: 10vh;
  /* background: rgb(189, 10, 10); */
}
.container {
  height: 90vh;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: "Kinsans";
  font-size: 30px;
  margin-top: 100px;
}
.acordion {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.menu1 {
  width: 500px;
  padding: 25px;
}
.menu2 {
  padding: 25px;
  width: 500px;
}

.individual {
  margin-bottom: 20px;
}
.fuente {
  font-family: "Kinsans";
}
@media screen and (max-height: 897px) {
  .section {
    display: flex;
    flex-direction: column;
    min-height: 650px;
    max-width: 414px;
    position: relative;
    overflow: hidden;
  }
  .titulo {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .acordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu1 {
    width: 330px;
    padding: 0;
    margin-left: 35px;
  }
  .menu2 {
    padding: 0;
    margin-left: 35px;
    width: 330px;
  }
  .espacio {
    display: none;
  }
}
