.container {
  background-color: violet;
  margin-top: 150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.item {
  background-color: wheat;
  height: 150px;
  width: 250px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.info {
  background-color: yellow;
  filter: grayscale(100%);
  height: 100px;
  width: 200px;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.info:hover {
  filter: none;
}
